@import "Variables.scss";
@import "Creator/Media.scss";

h2.slogan {
    color: $colorYellow;
    position: relative;
    top: -18px;
}

h3.points {
    color: $colorBabyBlue;
    position: relative;
    top: -30px;

    & > .separator {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.links {
    & > .separator {
        font-size: 3.4rem;
        margin-left: 6px;
        margin-right: 6px;
        position: relative;
        top: -4px;
        opacity: 0.6;
    }
}

.event-wrap {
    max-width: 1226px;

    & > .items {
        & > .item {
            margin-top: 46px;
            display: block;
        }
    }
}

@include media() {
    .event-wrap {
        & > .items {
            & > .item {
                margin-top: 18px;
            }
        }
    }
}