@import "Variables.scss";
@import "Creator/Media.scss";

body.creator {
    font-family: 'Arial Rounded MT', Verdana, 'Lucida Sans Unicode', sans-serif;
    color: $colorMain;
}

header.creator {
    & > .inner {
        & > a.brand {
            flex: 0 0 200px;

            & > .logo {
                width: 100%;
                flex: 0 0 62px;
            }

            & > .name {
                flex: 1 1 auto;
            }
        }

        & > .links {
            position: relative;
            top: 20px;

            & > .inner {
                & > a {
                    font-size: 2.8rem;
                }

                & > .separator {
                    font-size: 3.4rem;
                    margin-left: 16px;
                    margin-right: 16px;
                    opacity: 0.6;
                }
            }
        }
    }
}

footer.creator {
    background-color: lighten($colorLight, 8%);

    & > .links {
        & > .separator {
            display: block;
            margin-left: 6px;
            margin-right: 6px;
        }
    }

    & > .contact {
        & > .separator {
            display: block;
            margin-left: 6px;
            margin-right: 6px;
        }
    }
}

a {
    color: lighten($colorMain, 18%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $colorMain;
    }
}

#burgerMenu {
    font-size: 1rem;
}

#burger {
    background-color: rgba(black, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 88;

    & > a {
        color: white;
        font-size: 2rem;
        margin-top: 12px;
        display: block;
    }
}

@include media() {
    header.creator {
        & > .inner {
            & > a.brand {
                flex: 0 0 600px;

                & > .logo {
                    flex: 0 0 128px;
                }
            }
        }
    }
}