@import "Variables.scss";
@import "Creator/Media.scss";

body.creator {
    color: $colorMain;
    font-family: 'Arial Rounded MT', Verdana, 'Lucida Sans Unicode', sans-serif;
}

a {
    color: lighten($colorMain, 12%);
    text-decoration: none;

    &:hover {
        color: $colorMain;
        text-decoration: underline;
    }
}

#burgerMenu {
    background-color: rgba(black, 0.8);
    padding: 18px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;

    & a.link {
        color: white;
        font-size: 2.4rem;
    }

    & > .contact {
        margin-top: 42px;

        & > .separator {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

header.creator {
    & img.logo {
        width: 82px;
        height: 82px;
    }
}

footer.creator {
    background-color: lighten($colorLight, 8%);
    position: relative;

    & span.separator {
        margin-left: 6px;
        margin-right: 6px;
    }
}

#languageSymbols {
    position: absolute;
    left: 22px;
    top: -20px;

    & > a > .flag {
        width: 32px;
        margin-left: 6px;
    }
}

nav {
    position: relative;
    top: 18px;

    & > .link-wrap {
        position: relative;
        top: 16px;

        & > .link {
            font-size: 3rem;
        }

        & > .separator {
            margin-left: 8px;
            margin-right: 8px;
            font-size: 3.4rem;
            opacity: 0.6;
        }
    }

    @include media() {
        header.creator {
            & img.logo {
                width: 142px;
                height: 142px;
            }
        }
    }
}