@import "Variables.scss";
@import "Creator/Media.scss";

body.creator {
    color: $colorMain;
    font-family: 'Arial Rounded MT', Verdana, 'Lucida Sans Unicode', sans-serif;
}

a {
    color: lighten($colorMain, 12%);
    text-decoration: none;

    &:hover {
        color: $colorMain;
        text-decoration: underline;
    }
}

header.creator {
    & img.logo {
        width: 82px;
        height: 82px;
    }
}

footer.creator {
    background-color: lighten($colorLight, 8%);

    & span.separator {
        margin-left: 6px;
        margin-right: 6px;
    }
}

nav {
    position: relative;
    top: 18px;

    & > .link-wrap {
        position: relative;
        top: 16px;

        & > .link {
            font-size: 3rem;
        }

        & > .separator {
            margin-left: 8px;
            margin-right: 8px;
            font-size: 3.4rem;
            opacity: 0.6;
        }
    }

    @include media() {
        header.creator {
            & img.logo {
                width: 142px;
                height: 142px;
            }
        }
    }
}