@import "Function.scss";
@import "MapsAndList.scss";

@mixin media($size: MD, $orientation: Any, $mode: Up) {
    $size: upper($size);
	$s: map-get($mediaBreakpoints, $size);
	$query: null;

	@if (equal($mode, UP)) {
		$query: "(min-width: " + $s + ")";
	}
	@else if (equal($mode, DOWN)) {
		$query: "(max-width: " + $s + ")";
	}
	@else if (equal($mode, ONLY)) {
		$query: "(min-width: " + $s + ")";

		    @if not (equal($size, XL)) {
			    $max: null;
			}
			@else if (equal($size, XS)) {
				$max: SM;
			}
			@else if (equal($size, SM)) {
				$max: MD;
			}
			@else if (equal($size, MD)) {
				$max: LG;
			}
			@else if (equal($size, LG)) {
				$max: XL;
			}

			$max: map-get($mediaBreakpoints, $max);

			$query: $query + " and (max-width: " + $max + ")";
		}

	@if not (equal($orientation, Any)) {
		$query: $query + " and (orientation: " + lower($orientation) + ")";
	}

	@media #{$query} {
		@content;
	}
}