<!DOCTYPE html>
<html lang="en" class="creator-xl">
<head>
    <site:head files="Layout.css" />

    @await RenderSectionAsync("STYLE", required: false) 
</head>
<body>
    <header id="MainHead">
        <div class="flex-start-center">
            <img id="CreatorLogo" src="http://shared.lundbeckconsulting.com/IMAGE/creator-logo-md.png" alt="Creator logo" class="mrg-md" /> <span class="show-md" style="font-size: 18px;">Creator framework</span>
        </div>
        <hr />
        <nav class="main flex">
            <a asp-controller="Creator" asp-action="Index" class="link"><icon awesome="Home" size="SM" /> Home</a><span class="separator">|</span><a asp-controller="Doc" asp-action="Index" class="link"><icon awesome="Doc" size="SM" /> Doc's</a><span class="separator">|</span><a href="https://github.com/lundbeckconsulting/Creator" class="link" target="_blank"><icon awesome="GitHub" size="SM" /> Source</a>
        </nav>
        <hr />
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <br />
    <br />
    <footer>
        <div>
             &copy; 2021 - Creator
        </div>
    </footer>

    <site:footer />

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
