<!DOCTYPE html>
<html class="creator">
<head>
    <lc:include type="GoogleAnalyctics" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <lc:include type="Meta" />
	<lc:include type="MetaLayout" />
    @await RenderSectionAsync("META", false)

    <title>@ViewData["Title"] - Lundbeck Consulting</title>
    <lc:include type="FavIcon" />

    <lc:include type="FontAwesome" />
    <lc:include type="CreatorCSS" min="true" />
	<lc:include src="Layout.css" />
    @await RenderSectionAsync("CSS", false)
</head>
<body class="creator">
    <div id="burgerMenu" class="hide align-center">
        <p>
            <a asp-action="Index" class="link">Hjem</a>
        </p>
        <p>
            <a asp-action="About" class="link">Om Meg</a>
        </p>
        <p>
            <a asp-action="Project" class="link">Prosjekter</a>
        </p>
        <p class="contact">
            <a href="tel:+4792205613" class="link"><icon type="PhoneFull" /> Ring</a><span class="separator">|</span><a href="mailto:stein@lundbeckconsulting.no" class="link"><icon type="EnvelopeFull" /> Email</a>
        </p>
    </div>

	@if (!_siteHelper.IsIndex)
    {
        <header class="creator">
            <div class="inner flex-space-between">
                <div>
                    <a asp-action="Index" class="flex-center-center">
                        <img src="~/IMAGE/logo.png" class="logo" />
                        <h1 class="h2 show-md">Lundbeck Consulting</h1>
                    </a>
                </div>
                <div>
                    <nav>
                        <div class="link-wrap show-sm">
                            <a asp-action="Index" class="link">Hjem</a><span class="separator">|</span><a asp-action="About" class="link">Om Meg</a><span class="separator">|</span><a asp-action="Project" class="link">Prosjekter</a>
                        </div>
                        <icon id="barsMenuIcon" type="Bars" size="MD" class="hide-sm" />
                    </nav>
                </div>
            </div>
        </header>
    }

    <main role="main" class="creator">
        @if (ViewData.ContainsKey("Header"))
        {
            <div class="header">
                <h1 class="h2 h1-lg bold">@ViewData["Header"]</h1>
            </div>
        }

        @RenderBody()
    </main>
    
    <footer class="creator align-center">
        <p>
            <a asp-action="Index">
                &copy; 2019 / Lundbeck Consulting
            </a>
        </p>
        <p class="flex-center-center">
            <a asp-action="About">Om Meg</a><span class="separator">|</span><a asp-action="Project">Prosjekter</a>
        </p>
        <p class="flex-center-center pad-doc">
            <a href="tel:+4792205613"><icon type="PhoneFull" /> Ring</a><span class="separator">|</span><a href="mailto:stein@lundbeckconsulting.no"><icon type="EnvelopeFull" /> Email</a>
        </p>
        <p>
            <a href="https://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=984193483" target="_blank"><icon type="Building" /> Org.nr 984 193 483</a>
        </p> 
    </footer>

    <lc:include type="jQuery" />
    <lc:include type="CreatorJS" min="true" />
    <lc:include src="Layout.js" />

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
