<!DOCTYPE html>
<html class="creator">
<head>
    <lc:include type="GoogleAnalyctics" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <lc:include type="Meta" />
	<lc:include type="MetaLayout" />
    <lc:include type="MetaLayout" />
    @await RenderSectionAsync("META", false)

    <title>@ViewData["Title"] - Lundbeck Consulting</title>
    <lc:include type="FavIcon" />

    <lc:include type="FontAwesome" />

    <lc:include type="CreatorCSS" min="true" />
	<lc:include src="Layout.css" />
    @await RenderSectionAsync("CSS", false)
</head>
<body class="creator">
    <div id="burger" class="hide align-center pad-doc">
        <a asp-action="Index">Hjem</a>
        <br />
        <a asp-action="About">Om Meg</a>
        <br />
        <a asp-action="Project">Prosjekter</a>
    </div>

	@if (!_siteHelper.IsIndex)
    {
        <header class="creator">
            <div class="inner flex-space-between">
                <a asp-action="Index" class="brand flex-center-center">
                    <img src="/IMAGE/logo-half.png" class="logo" />
                    <h1 class="h4 h2-md name">Lundbeck Consulting</h1>
                </a>
                <div class="links show-md pad-doc">
                    <div class="inner flex-center-center align-right">
                        <a asp-action="Index">Hjem</a><span class="separator">|</span><a asp-action="About">Om Meg</a><span class="separator">|</span><a asp-action="Project">Prosjekter</a>
                    </div>
                </div>
                <div class="burger hide-md">
                    <icon id="burgerMenu" type="Bars" out="Span" />
                </div>
            </div>
        </header>
    }

    <main role="main" class="creator">
        @if (ViewData.Keys.Contains("Header"))
        {
            <div class="header-wrap">
                <h1 class="h2">@ViewData["Header"]</h1>
            </div>
        }

        @RenderBody()
    </main>
    
    <footer class="creator align-center">
        <p>
            <a asp-action="Index">
                &copy; 2019 / Lundbeck Consulting
            </a>
        </p>
        <p class="flex-center-center links">
            <a asp-action="About">Om Meg</a><span class="separator">|</span><a asp-action="Project">Prosjekter</a>
        </p>
        <p class="contact flex-center-center airy-lg">
            <icon type="PhoneFull" out="Span" size="SM" />&nbsp;<a href="tel:+4792205613">Ring</a><span class="separator">|</span><icon type="EnvelopeFull" out="Span" size="SM" />&nbsp;<a href="mailto:stein@lundbeckconsulting.no">Email</a>
        </p>
        <p>
            <icon type="Building" out="Span" size="SM" />&nbsp;<a href="https://w2.brreg.no/enhet/sok/detalj.jsp?orgnr=984193483" target="_blank">Org.nr 984 193 483</a>
        </p>
    </footer>

    <lc:include type="jQuery" />
    <lc:include type="CreatorJS" min="true" />
    <lc:include src="Layout.js" />

    @await RenderSectionAsync("SCRIPT", required: false)
</body>
</html>
