@page
@model AboutModel
@{
    ViewData["Title"] = "Om Meg";
}

@section CSS {
    <lc:include src="about.css" />
}

<div class="title-wrap">
    <h1 class="h-1"><lc:fa name="user-circle" /> <span class="separator">/</span> Om Meg</h1>
</div>

<div class="content-wrap p-md">
    <strong>Stein Lundbeck</strong>
    <div>
        <div class="row">
            <div class="col-md-8">
                <p>
                    IT har vært veien for meg helt siden min første jobb som teknikker helt tilbake i år 2000. <br />Design og programmering var noe jeg drev med på fritiden, men det var akkurat det jeg forelsket meg i og jobbet med største delen av karrieren som medarbeider.
                </p>
                <p>
                    Nå jobber jeg for meg selv og holder meg oppdatert gjennom hele tiden utvikle nye prosjekter med ny teknologi og nye design trender. Og lese. Lese mye. Hvis jeg ikke programmerer eller designer så leser jeg om det og kunne ikke tenkt meg noe annerledes.
                </p>
                <p>
                    Jeg liker å lage brukervennlige og effektive løsninger hvor brukeren må bruke minimalt med tid på å forstå grensesnittet og tydeliggjøre funksjoner og logikk. Men et pent ytre holder ikke hvis koden ikke er bra. De fleste løsninger vokser med tiden og da er kodegrunnlaget veldig viktig og jeg leverer ikke fra meg noe som kun ser bra ut.
                </p>
                <div class="cv-wrap">
                    <a asp-page="CV" class="h-2 cv-link" title="Se CV"><lc:fa name="file-alt" /> CV</a>
                </div>
                <div class="contact-wrap">
                    <a href="tel:+4792205613" class="btn-primary" title="Ring meg"><lc:fa name="phone-square" /> Ring</a>
                    <a href="mailto:stein@lundbeckconsulting.no" class="btn-primary" title="Send meg email"><lc:fa name="envelope-square" /> Email</a>
                </div>
                <div class="hide md-block p-xl a-center">
                    <img src="/IMAGES/laptop-rocket.png" class="r rocket-illu" />
                </div>
            </div>
            <div class="col-md-4"><img src="/IMAGES/tech-head.png" class="r" /></div>
        </div>
    </div>
</div>