@page
@model LC.Home.Lakeview.Pages.CVModel
@{
    ViewData["Title"] = "CV";
}

@section CSS {
    <lc:include src="cv.css" />
}

<div class="title-wrap">
    <h1 class="h-1"><lc:fa name="file-alt" /> <span class="separator">/</span> CV</h1>
</div>

<div class="content-wrap pad-md">
    <div class="personal">
        <strong>Stein Lundbeck</strong>
        <br />
        Engsmyr Terrasse 1
        <br />
        1739 Borgenhaugen
        <br />
        Norway
        <br />
        <br />
        <strong>Født:</strong> 17.01.1982
        <br />
        <br />
        <strong>Email:</strong> <a href="stein@lundbeckconsulting.no">stein@lundbeckconsulting.no</a>
        <br />
        <br />
        <strong>Telefon:</strong> <a href="tel:+4792205613">+47 922 05 613</a>
    </div>
    <br />
    <br />
    <div class="header-wrap">
        <h2>Erfaring</h2>
        <div class="pdf-wrap">
            <a href="SteinLundbeckCV.pdf" class="pdf-link btn-primary" title="Last ned CV"><lc:fa name="file-pdf" /> Last ned</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>1998 - 2000</td>
                <td><strong>Inventum</strong></td>
                <td>Stilling som tekniker. Kabling og konfigurering av nettverk. Ansvar for inneteknisk og reperasjon av PCer.</td>
            </tr>
            <tr>
                <td>2000 - 2002</td>
                <td><strong>Mind AS</strong></td>
                <td>Konsulent innen bla. web design, utvikling, prototyping og opplæring/kurs i utviklingssoftware.</td>
            </tr>
            <tr>
                <td>2002 - 2004</td>
                <td><strong>TJ-Group</strong></td>
                <td>Design og implementering av nettløsninger av forskjellig størrelse og bruksområder.</td>
            </tr>
            <tr>
                <td>2002 - pågående</td>
                <td><strong>Lundbeck Consulting</strong></td>
                <td>Mitt firma hvor jeg gjør alt. Design, prototyping, utvikling og kaffekoking.</td>
            </tr>
            <tr>
                <td>2002 - 2003</td>
                <td><strong>Teazer</strong></td>
                <td>Utvikling av medlem og betalingsystem.</td>
            </tr>
            <tr>
                <td>2004 - 2006</td>
                <td><strong>Emode</strong></td>
                <td>Systemutvikler med ansvar for back-end grensesnitt for eksisterende produkter og utvikling av nye tjenester.</td>
            </tr>
            <tr>
                <td>2006 - 2008</td>
                <td><strong>Experian AS</strong></td>
                <td>Utvikling av løsninger for kredittvalidering, installering og opplæring i bruk av applikasjoner.</td>
            </tr>
            <tr>
                <td>2008 - 2008</td>
                <td><strong>BetOnBet</strong></td>
                <td>Utvikling av online spillplattform og integrering av eksisterende tredjepart systemer.</td>
            </tr>
            <tr>
                <td>2008 - 2011</td>
                <td><strong>Compello AS</strong></td>
                <td>Senior Systemutvikler innen .NET utvikling og Microsoft Identity Manager og bistand i tekniske spørsmål rundt supportsaker.</td>
            </tr>
            <tr>
                <td>2009 - 2011</td>
                <td><strong>Elixia</strong></td>
                <td>Instruktør og boksetrener med ansvar for egne klasser.</td>
            </tr>
        </table>
    </div>
</div>