@page
@model LC.Home.Lakeview.Pages.ProjectModel
@{
    ViewData["Title"] = "Prosjekter";
}

@section CSS {
    <lc:include src="project.css" />
    <lc:include src="projectitem.css" />
}

<div class="title-wrap">
    <h1 class="head-1"><lc:fa name="project-diagram" /> <span class="separator">/</span> Prosjekter</h1>
</div>

<div class="content-wrap p-md">
    <div class="item">
        @await Html.PartialAsync("/Pages/Shared/ProjectItem.cshtml", "FFU")
    </div>
    <div class="item">
        @await Html.PartialAsync("/Pages/Shared/ProjectItem.cshtml", "Creator")
    </div>
    <div class="item">
        @await Html.PartialAsync("/Pages/Shared/ProjectItem.cshtml", "AreB")
    </div>
    <div class="item">
        @await Html.PartialAsync("/Pages/Shared/ProjectItem.cshtml", "Allsidig")
    </div>
    <div class="item">
        @await Html.PartialAsync("/Pages/Shared/ProjectItem.cshtml", "LCTools")
    </div>
    <div class="item">
        @await Html.PartialAsync("/Pages/Shared/ProjectItem.cshtml", "HomeLakeview")
    </div>
</div>