/*
    MAP / LIST
*/

$prefixMap: (Align: "align", Justify: "justify", Padding: "pad", Margin: "m", Flex: "fx", Heading: "head", Font: "font", Opacity: "o", Display: "d", Icon: "ico", Value: "val", Button: "btn", Background: "bg", Column: "col", Row: "row", Bold: "bold", Table: "table", Block: "block", FormControl: "fc");
$mediaSizes: (xs, sm, md, lg, xl);
$propMap: (xs: 4px, sm: 8px, md: 18px, lg: 34px, xl: 46px);
$align: (left, center, right);
$alignItems: (baseline: baseline, center: center, end: flex-end, start: flex-start, stretch: stretch);
$justifyContentMap: (center: center, end: flex-end, start: flex-start, around: space-around, between: space-between);
$fontSizesMap: (xs: 0.9em, sm: 1.4em, md: 2.2em, lg: 4em, xl: 6.4em);
$opacityValuesMap: (0: 0, 20: 0.2, 60: 0.6, 80: 0.8, 1: 1);
$display: (table, inline-table, block, inline-block, flex, inline-flex, grid, inline-grid, none, inline, run-in, contents, list-item);
$directions: (left, right, top, bottom);
$marginAndPaddingValsMap: (xs: 4px, sm: 8px, md: 16px, lg: 24px, xl: 32px);
$iconSizesMap: (xs: 1.4em, sm: 1.8em, md: 2.6em, lg: 4.8em, xl: 6.2em);
$headerSizesMap: (1: 3.2em, 2: 2.8em, 3: 2em, 4: 1.8em, 5: 1.2em);
$mediaSizesMap: (xs: 0px, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$mediaOrientationMap: (0: any, 1: portrait, 2: landscape);
$fontOutlineSizesMap: (sm: 4px, md: 8px, lg: 14px);
$commonMediaSizesMap: (xs: 0, sm: 1, md: 2, lg: 3, xl: 4);
$animationSpeeds: (slow: 0.10ms, medium: 0.6ms, fast: 2ms);
$systemColorsMap: (primary: #007bff, disabled: #959595, success: #28a745, danger: #af222f, warning: #ffc107, info: #17b5d5, dark: black);
$shortSystemColorsMap: (primary: "prm", disabled: "dis", success: "suc", danger: "dgr", warning: "wrn", info: "inf", dark: "drk");
$miscColorsMap: (DarkShadow: #161616);
$positionMap: (bottom: bottom, center: center, left: left, right: right, top: top);
$backgroundRepeat: (no-repeat: no-repeat, repeat: repeat, repeat-x: repeat-x, repeat-y: repeat-y, round: round, space: space, inherit: inherit, initial: initial, unset: unset);
$numbersList: ("0", "1", "2", "3", "4", "5", "6", "7", "8", "9");
$alphabetList: ("a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z");
$columnSizes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

/*
    CONSTANTS
*/
$controlPrefix: lc;
$mediaControlPrefix: lcm;
$bodyContentMaxWidth: 1366px;
$alphabet: "abcdefghijklmnopqrstuvwxyz";
$numbers: "0123456789";
$docPaddingSize: 16px;
$defaultPadding: 14px;