#CreatorLogo {
    width: 140px;
}

body {
    background: linear-gradient(#c2debd, #abd19c);
    background-size: cover;
    background-repeat: no-repeat;

    #MainHead {
        background-color: #84aa75;

        & > nav.main {
            padding-left: 6px;

            & > .link {
                display: flex;
                color: #001e02;

                &:hover {
                    text-decoration: underline;
                }

                & > .creator-icon {
                    margin-right: 4px;
                }
            }

            & > .separator {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }

    & > main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
}
