@import "./Settings";
@import "./Creator/Media.scss";

section.newSite {
    & > .head {
        background-color: $newSiteHead;
        background-image: url("/IMAGE/ILLUSTRATION/blue-ribbon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;

        & > .intro {
            color: $newSiteIntroColor;
        }

        & > .sub {
            color: $newSiteSubColor;
        }
    }
}

section.oneManBand {
    & > .head {
        background-color: $oneManBandHead;
        background-image: url("/IMAGE/ILLUSTRATION/green-flowers.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: left;
        text-align: right;

        & > .intro {
            color: $oneManBandIntroColor;
        }

        & > .sub {
            color: $oneManBandSubColor;
        }
    }

    & .illu.one-man-band {
        max-width: 120px;
        display: none;
    }
}

section.startup {
    & > .head {
        background-color: $startupHead;
        background-image: url("/IMAGE/ILLUSTRATION/circuits.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;

        & > .intro {
            color: $startupIntroColor;
        }

        & > .sub {
            color: $startupSubColor;
        }
    }

    & .content-illu.idea-bulb {
        max-width: 186px;
    }
}

section.info-content-wrap {
    display: grid;
    grid-template-columns: repeat(24, 1fr);

    & > .head {
        z-index: 22;
        box-shadow: $baseBoxShadow;
        padding: 8px;
        grid-column: 1/-1;

        & > .intro {
            margin: 0px;
            margin-left: 6px;
            font-size: 2.6rem;
        }

        & > .sub {
            margin: 0px;
            margin-left: 34px;
            font-size: 1.8rem;
        }
    }

    & > .content {
        background-color: white;
        z-index: 11;
        position: relative;
        top: 0;
        padding: 14px;
        grid-column: 1/-1;
    }
}

section.download-wrap {
    & > .items > div {
        margin-top: 6px;
    }

    & .cv-wrap {
        width: 280px;

        & > .icon-wrap {
            color: $oneManBandIntroColor;

            & > .icon {
                margin-right: 2px;
            }

            &.read {
                display: none;
            }
        }
    }
}

@include media(MD) {
    section.newSite {
        & > .head {
            grid-column: 4/20;
        }

        & > .content {
            grid-column: 2/19;
        }
    }

    section.oneManBand {
        & > .head {
            grid-column: 14/24;
        }

        & > .content {
            grid-column: 4/22;
        }

        & .illu.one-man-band {
            display: block;
        }
    }

    section.startup {
        & > .head {
            grid-column: 1/12;
        }

        & > .content {
            grid-column: 2/24;
        }
    }

    section.download-wrap {
        & .cv-wrap {
            & > .icon-wrap {
                &.read {
                    display: block;
                }
            }
        }
    }

    section.info-content-wrap {
        & > .head {
            padding: 12px;

            & > .intro {
                font-size: 5rem;
            }

            & > .sub {
                font-size: 2.4rem;
            }

            &.left {
                grid-column: 1/20;
            }

            &.right {
                grid-column: 12/22;
            }
        }

        & > .content {
            top: -28px;
            padding-top: 34px;

            &.left {
                grid-column: 2/24;
            }

            &.right {
                grid-column: 1/20;
            }
        }
    }

    .info-content-wrap.oneManBand {
        & .illu.one-man-band {
            max-width: 256px;
        }
    }
}
