$mainColor: #000b16;
$subColor: #8d4a1a ;
$contentBoxCornerRadius: 10px;
$baseBoxShadow: rgba($mainColor, 0.7) 4px 4px;

//Section
$newSiteHead: #8eadde;
$newSiteIntroColor: #073057;
$newSiteSubColor: #276a9c;
$oneManBandHead: #c0e2c1;
$oneManBandIntroColor: #053706;
$oneManBandSubColor: #126714;
$startupHead: #d4e482;
$startupIntroColor: #576418;
$startupSubColor: #616935;