$cpDefault: (Primary: black, Second: #303030, Third: #484848, Fourth: #a1a1a1, Fifth: #ececec);
$cpPrimary: (Primary: #8b480e, Second: #b06c31, Third: #cc8c55, Fourth: #d8a77d, Fifth: #efdbc9);
$cpSuccess: (Primary: #195f34, Second: #238649, Third: #2eac5e, Fourth: #4bcc7c, Fifth: #a0edbd);
$cpDanger: (Primary: #8c101b, Second: #a12d37, Third: #ca5660, Fourth: #ed7781, Fifth: #ffcacf);
$cpWarning: (Primary: #ffbf00, Second: #ffd24a, Third: #ffde7b, Fourth: #ffe9a6, Fifth: #fff2cb);
$cpInfo: (Primary: #2894aa, Second: #46a3b6, Third: #68b7c7, Fourth: #8bc8d4, Fifth: #c4e7ee);
$cpLight: (Primary: #a19b9b, Second: #bbb3b3, Third: #dbd4d4, Fourth: #eae2e2, Fifth: #f7f2f2);
$cpDark: (Primary: #161616, Second: #2c2c2c, Third: #3c3c3c, Fourth: #606060, Fifth: #c3c3c3);
$cpAntan: (Primary: #fe2f00, Second: #c44b30, Third: #c66b57, Fourth: #a76e62, Fifth: #e8bdb4);
$cpNotify: (Primary: #07294e, Second: #1c436d, Third: #466a92, Fourth: #7b9abd, Fifth: #c1cfde);

$CPs: (Default: $cpDefault, Primary: $cpPrimary, Success: $cpSuccess, Danger: $cpDanger, Warning: $cpWarning, Info: $cpInfo, Light: $cpLight, Dark: $cpDark, Antan: $cpAntan, Notify: $cpNotify);