$mediaDevices: ( Phone: XS, Tablet: SM, Computer: LG, Screen: XL );
$mediaBreakpoints: ( XS: 0px, SM: 576px, MD: 768px, LG: 992px, XL: 1200px );
$mediaOrientation: ( 0: Any, 1: Portrait, 2: Landscape );
$mediaRetina: ( 1.25: 120dpi, 1.3: 124.8dpi, 1.5: 144dpi, 2: 192dpi );
