@import "Variables.scss";

div.content-wrap {
    background-color: $contentBgColor;

    div.cv-wrap {
        text-align: center;
        padding: 22px;

        & > a.cv-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    div.contact-wrap {
        display: flex;
        justify-content: center;
        padding-top: 58px;

        & > a {
            display: block;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;
        }
    }

    img.rocket-illu {
        max-width: 488px;
    }
}