/*
    MAP / LIST
*/
/*
    CONSTANTS
*/
html {
  height: 100%; }

body {
  color: #382005;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

a {
  color: #382005; }
  a:hover {
    text-decoration: none; }

.bg-one {
  background: url("/IMAGES/bg-one.jpg"); }

.bg-two {
  background-image: url("/IMAGES/bg-two.jpg"); }

.bg-three {
  background-image: url("/IMAGES/bg-three.jpg"); }

.bg-four {
  background-image: url("/IMAGES/bg-four.jpg"); }

span.company-name {
  font-family: 'Lekton', sans-serif;
  font-size: 2.2em;
  font-weight: bold; }

nav.top {
  background-color: #6b5b48;
  display: flex;
  position: relative;
  margin-bottom: 58px; }
  nav.top > div.logo-wrap {
    justify-self: start;
    margin: 18px;
    position: relative;
    top: 8px; }
    nav.top > div.logo-wrap > a {
      display: flex;
      text-decoration: none; }
      nav.top > div.logo-wrap > a > img.logo {
        width: 56px;
        height: 56px;
        margin-right: 8px; }
  nav.top > div.action-wrap {
    background-color: #382005;
    padding: 14px;
    position: absolute;
    right: 18px;
    top: 82px; }
    nav.top > div.action-wrap > div.inner {
      display: flex; }
      nav.top > div.action-wrap > div.inner > a {
        color: #c4a888;
        display: block;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 1.4em;
        text-decoration: none; }
        nav.top > div.action-wrap > div.inner > a:hover {
          text-decoration: underline; }

footer.default-footer {
  margin-top: 18px; }
  footer.default-footer > div.inner {
    text-align: center;
    background-image: url("/IMAGES/footer-bg.png");
    position: relative;
    top: -8px; }
    footer.default-footer > div.inner a {
      color: #c4a888;
      text-decoration: none; }
      footer.default-footer > div.inner a:hover {
        text-decoration: underline; }

div.title-wrap {
  background-color: #e2ceb8;
  padding: 16px;
  border-bottom: 6px solid #382005;
  opacity: 0.8; }

@media (min-width: 768px) {
  nav.top > div.action-wrap {
    top: 74px; }
    nav.top > div.action-wrap > div.inner > a {
      font-size: 2em; }
  span.company-name {
    font-size: 2.6em; } }

