@{
    ViewData["Title"] = "Om Meg";
    ViewData["Header"] = "Om Meg";
}

@section CSS {
    <lc:include src="About.css" />
}

<div class="row">
    <div class="col-md-8">
        <div class="content">
            <p>
                Synliggjøring på nett starter med å skape et merke som kunden kjenner igjen og en nettside til å være deres ansikt utad. Et enkelt Googlesøk kan bestemme om akkurat deres side kommer på topp - her kommer SEO inn i bildet. Kunden tas med videre på en kortvarig reise: Oppmerksomheten og informasjonen om hva bedriften gjør skal komme frem i løpet av noen sekunder – ellers kan kunden snu i «døren» og gå inn på en annen nettside.
                <br />
                <br />
                <h2 class="h4 bold">Dette gjør Lundbeck Consulting for din bedrift:</h2>
            </p>
            <p>
                Lundbeck Consulting skreddersyr en totalløsning for deres nettside: Vi tar hele prosessen fra A til Å. Vi bygger hele nettsiden med SEO, eget domenenavn, firma e-post m.m. Hele produktet er leveringsklart for dere innen avtalt tid. Fokuset vårt er å skape en trygg prosess for kunden med god kommunikasjon før, underveis og etter prosjektet. På denne måten får bedriften deres maksimalt utnytte av vår kompetanse og dere får et produkt som kan representere bedriften deres i flere år fremover.
                <ul class="mrg-lg">
                    <li>Nettside (design og programmering)</li>
                    <li>Prototyping</li>
                    <li>SEO</li>
                    <li>Domene/Host</li>
                    <li>E-post</li>
                </ul>
            </p>
            <p>
                Med over 18 års erfaring i bransjen er vi eksperter i å kartlegge behov og tilpasse produktet: En nettside er en personlig løsning som skal fange kunden sin oppmerksomhet på en god måte og samtidig reflektere bedriften på en presentabel måte. Nettsiden må ha god innebygget SEO slik at deres kunder kan finne dere på søkemotorer også.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mind-wrap show-md pad-lg align-center">
            <img src="/IMAGE/mind-gears.png" class="mind-gears r" />
        </div>
        <div class="download-wrap pad-doc">
            <p>
                <a href="/FILE/CV.pdf" class="link"><icon type="DocPDF" /> Last ned CV</a>
            </p>
            <p>
                <a href="/FILE/Attester.pdf" class="link"><icon type="DocPDF" /> Last ned attester</a>
            </p>
        </div>

        <div class="contact-wrap pad-doc">
            <h2 class="h3">Kontakt</h2>
            <p class="flex-center-center pad-doc contact-links">
                <a href="tel:+4792205613" class="link"><icon type="PhoneFull" /> Ring</a><span class="separator">|</span><a href="mailto:stein@lundbeckconsulting.no" class="link"><icon type="EnvelopeFull" /> Email</a>
            </p>
        </div>
    </div>
</div>
<div class="pad-lg align-center tech-logo flex-center-center flex-wrap">
    <a href="https://dotnet.microsoft.com/learn/web/what-is-aspnet-core" target="_blank" title="ASP.NET Core" class="link"><img src="/IMAGE/About/core-logo.png" class="logo" /></a><span class="separator show-md">/</span><a href="https://www.adobe.com/no/products/xd.html" target="_blank" title="Adobe XD / Prototyping" class="link"><img src="/IMAGE/About/adobe-xd-logo.png" class="logo" /></a><span class="separator show-md">/</span><a href="https://analytics.google.com/" target="_blank" title="Google Analytics" class="link"><img src="/IMAGE/About/google-analytics-logo.png" class="logo" /></a><span class="separator show-md">/</span><a href="http://www.serviceuptime.com/" target="_blank" title="Service Uptime" class="link"><img src="/IMAGE/About/uptime-logo.png" class="logo" /></a>
</div>