@using LC.Home.Chicken;
@using LC.Home.Chicken.Models;
@using Creator.TagHelpers.Models;
@using System.Collections.ObjectModel;

@{
    ViewData["Title"] = _localizer["BrandSlogan"].Value;
}

@section STYLE {
    <asset path="Home.Index.css" />
    <asset path="Partial.Section.css" />
    <asset path="Partial.CV.css" />
}

@section SCRIPT {
    <asset path="Home.Index.js" />
    <asset path="Partial.Section.js" />
}

<div id="contentSpacer"></div>

<partial name="/Views/Partial/Section.cshtml" model="new SectionModel(Sections.NewSite)" />
<partial name="/Views/Partial/Section.cshtml" model="new SectionModel(Sections.OneManBand)" />
<partial name="/Views/Partial/Section.cshtml" model="new SectionModel(Sections.Startup)" />

<partial name="/Views/Partial/CV.cshtml" />