@{
    ViewData["Title"] = _localizer["Title"];
    ViewData["Header"] = _localizer["Title"];
}

@section STYLE {
    <asset path="Model.css" />
}

<section>
    <div>
        @_localizer["Body"]
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="pad-computer-xl-top">
                <h1>@_localizer["GrunderHeader"]</h1>
                @_localizer["Grunder"]
            </div>
        </div>
        <div class="col-md-4">
            <div class="device-tablet-screen">
                <asset path="Model/service-deal-illu.jpg" class="r" />
            </div>
        </div>
    </div>
    <div class="align-center">
        <img src="@_localizer["TheProcessPath"]" class="process illu r" />
    </div>
</section>