@using LC.Home.Blitz.Data.Models;
@using LC.Assets.Components.Extensions;

@{
    ViewData["Title"] = "Mine Prosjekter";
    ViewData["Header"] = "Prosjekter";
}

@section CSS {
    <lc:include src="Project.css" />
}

<div class="items">
    @foreach (Project project in await _data.GetProjects())
    {
        <div class="item">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="h3 bold">@project.Header</h2>
                </div>
                <div class="col-md-7">
                    @Html.Raw(project.Description)
                    <div class="links">
                        @if (!project.URL.Equals("#"))
                        {
                            <a href="@project.URL" target="_blank" class="btn-info link"><icon type="Globe" /> Besøk</a>
                        }

                        @if (!project.GitHubURL.IsNull())
                        {
                            <a href="@project.GitHubURL" target="_blank" class="btn-warning link"><icon type="GitHub" /> GitHub</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>