<site:view id="14" files="Index.css" />

<div class="align-center slogan-wrap">
    <h3>
        Creator framework is for modern responsive web sites
    </h3>
    <h5>Current version 2.0.7</h5>
</div>
<div class="row illu-wrap">
    <div class="col-xs-12 col-md-6">
        <h1 class="worry">Don't worry about devices</h1>
    </div>
    <div class="col-md-6">
        <img src="/IMAGE/ILLUSTRATION/devices-shadow.png" alt="Different devices" class="illu r" />
    </div>
</div>
<section class="goto-code-wrap flex-center">
    <a asp-controller="Doc" asp-action="Index" class="flex"><icon awesome="Doc" size="LG" text="Goto doc's" />&nbsp;<icon awesome="ArrowRight" size="MD" /></a>
</section>
