#CV {
  position: fixed;
  display: none;
  max-width: 1280px;
  top: 20px;
  overflow-y: auto;
  background-color: white;
  height: 100%;
  padding: 6px;
  z-index: 99; }
  #CV > section.experience {
    margin-top: 38px; }
    #CV > section.experience table.content td.period {
      width: 140px; }
    #CV > section.experience table.content td.employer {
      width: 200px; }
  #CV > section.projects table.content td.name {
    width: 230px; }

#cvBackground {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

@media (min-width: 768px) {
  #CV {
    padding: 18px; }
    #CV > section.experience table.content td.period {
      width: 310px; }
    #CV > section.experience table.content td.employer {
      width: 400px; }
    #CV > section.projects table.content td.name {
      width: 430px; } }
