@model string

@{
    string name = string.Empty;
    string url = string.Empty;

    switch(Model)
    {
        case "FFU":
            name = "Friends For Understanding";
            url = "http://friendsforunderstanding.com";
            break;

        case "Creator":
            name = "Creator - Responsive Framework";
            break;

        case "AreB":
            name = "Are Buraas";
            url = "http://are1.no";
            break;

        case "Allsidig":
            name = "En Allsidig Håndverker";
            url = "http://allsidighaandverker.no";
            break;

        case "LCTools":
            name = "LCTools";
            break;

        case "HomeLakeview":
            name = "Hjemmeside";
            break;
    }
}

<div class="project-items-wrap">
    <div class="item-wrap">
        <div class="top-wrap">
            <h3 class="h-3">@Html.Raw(name)</h3>
            @if (url != string.Empty)
            {
                <div class="visit-wrap">
                    <a href="@Html.Raw(url)" target="_blank" class="link" title="@Html.Raw("Besøk siden til " + name)"><span class="symbol"><lc:fa name="globe" /> Besøk</span></a>
                </div>
            }
        </div>
        <div class="info-wrap">
            @if (Model == "FFU")
            {
            <p>
                Organisasjonen <strong>Friends For Understanding</strong> trengte en nettside for å spre sitt grønne budskap og vise frem alt de driver med. <br /><br />Vi er nå på versjon 3 av hjemmeside. Gjeldende side har parallax effekt som påvirker bakgrunnen mens du scroller og er en fin liten feature. <br />Siden har fokus på enkel kommunikasjon og brukervennlig grensesnitt.
            </p>
            }
            else if (Model == "Creator")
            {
            <p>
                Dette er et lettvekt rammeverk for responsiv design. Det er basert på enkelte prinsipper fra Bootstrap som grid og farger. 
                Rammeverket er skrevet i SASS og JavaScript. Det består også av Tag Helpers for de som bruker .NET Core.
                <br /><br />
                Denne hjemmesiden bruker <strong>Creator</strong>!
                <br />
                <br />
                <span class="fx-center-start">
                    For mer info og kildekode - <a href="https://github.com/lundbeckconsulting/Creator" class="btn-warning" style="width:120px;position:relative;left:10px;" target="_blank" title="Se Creator på GitHub"><lc:fa name="github-square" prefix="fab" /> GitHub</a>
                </span>
            </p>
            }
            else if (Model == "AreB")
            {
                <p>
                    <strong>Are Buraas</strong> er en kunster som lager utrolige ting med blyant, maling, digitalt og sprayboks.
                    <br />
                    Han har dekorert flere vegger, skoler og butikklokaler i Sarpsborg.
                    <br />
                    <br />
                    Han trengte en hjemmeside for å enkelt vise frem sine verker. Gjeldende hjemmeside er versjon 2 og gir en bra opplevelse på mobil eller pc. 
                    <br />
                    Hjemmesiden inkluderer funksjoner som slideshow og mulighet for å Like bilder.
                </p>
            }
            else if (Model == "Allsidig")
            {
                <p>
                    <strong>Pål Toft-Eriksen</strong> er en Allsidig Håndverker og trengte en hjemmeside for å presentere seg selv og sine tjenester.
                    <br />
                    <br />
                    Hjemmesiden inkluderer mulighet for kunder å logge inn for å se live oppdatering av timer brukt på sine oppdrag.
                </p>
            }
            else if (Model == "LCTools")
            {
                <div class="row">
                    <div class="col-xs-10">
                        <strong>LCTools</strong> består av verktøy for enklere utvikling av nettsider og er skrevet i .NET Core og .NET Standard.
                        <p>
                            <strong>LCTools</strong> består av:

                            <ul>
                                <li>Shops - Netthandel</li>
                                <li>CMS - Administrasjon av tjenester</li>
                                <li>Contact - Kommunikasjon og sending av epost</li>
                            </ul>
                        </p>
                        <i>Creator var en del av LCTools, men er nå eget produkt.</i>
                    </div>
                    <div class="col-xs-2"><img src="/IMAGES/Project/lctools-logo.png" class="r lctools-logo" /></div>
                </div>
            }
            else if (Model == "HomeLakeview")
            {
                <p>
                    Dette er den første nettsiden som kun benytter Creator for layout og responsiv logikk og blir brukt for å teste nye funksjoner.
                    <br />
                    <br />
                    <span class="fx-center-start">
                        Vil du se kildekode? Gå til <a href="https://github.com/lundbeckconsulting/LC-Home/tree/master/Lakeview" class="btn-warning" style="width:126px;position: relative;left:20px;" target="_blank"><lc:fa name="github" prefix="fab" /> GitHub</a>
                    </span>
                </p>
            }
        </div>
        <div class="pics-wrap">
            @if (Model == "FFU")
            {
                <div class="row">
                    <div class="col-xs-3"><img src="/IMAGES/Project/ffu-illu-one.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/ffu-illu-two.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/ffu-illu-three.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/ffu-illu-four.jpg" class="r" /></div>
                </div>
            }
            else if (Model == "AreB")
            {
                <div class="row">
                    <div class="col-xs-3"><img src="/IMAGES/Project/are-illu-one.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/are-illu-two.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/are-illu-three.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/are-illu-four.jpg" class="r" /></div>
                </div>
            }
            else if (Model == "Allsidig")
            {
                <div class="row">
                    <div class="col-xs-3"><img src="/IMAGES/Project/allsidig-illu-one.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/allsidig-illu-two.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/allsidig-illu-three.jpg" class="r" /></div>
                    <div class="col-xs-3"><img src="/IMAGES/Project/allsidig-illu-four.jpg" class="r" /></div>
                </div>
            }
            else if (Model == "HomeLakeview")
            {
                <div class="row">
                    <div class="col-xs-6"><img src="/IMAGES/Project/lakeview-illu-one.jpg" class="r" /></div>
                    <div class="col-xs-6"><img src="/IMAGES/Project/lakeview-illu-two.jpg" class="r" /></div>
                </div>
            }
        </div>
    </div>
</div>