<header>
    The Document styles is the base of a document implementing Creator. With a few styles you set up the basic design of the site. These styles are typically the first thing you set up.
</header>
<h3>Typical</h3>
<xmp>
    <!DOCTYPE html>
    <html class="creator-xl">
    <head>
        <meta charset="utf-8" />
        <title>the title</title>
    </head>
    <body class="background-cover">
        <header class="main">

        </header>
    </body>
    </html>
</xmp>
<h3>Other</h3>
<div>
    The document supports many more features, it's recommended to look at the code for a full view.
</div>
