<header>
    It's very easy to include Creator on your site and requires only two lines of code.
    <br />
    <br />
    Add a reference to both the CSS file and JS file, and that's it!
</header>

<section class="css-wrap">
    <h5>Include this in the head tag:</h5>
    <div>
        <xmp style="white-space:pre-wrap;"><link href="https://cdn.getcreatorframework.com/v2.0.7/creator.css" rel="stylesheet" type="text/CSS" /></xmp>
    </div>
</section>
<section class="js-wrap">
    <h5>Include this in the footer section:</h5>
    <div>
        <xmp><script src="https://cdn.getcreatorframework.com/v2.0.7/creator.js" type="application/JAVASCRIPT"></script></xmp>
    </div>
</section>
<section class="example-wrap">
    <h3>Example:</h3>
    <div style="overflow:auto;">
        <xmp style="white-space:pre-wrap;">
<html class="creator-full">
    <head>
        <meta charset="utf-8" />
        <title>Creator</title>

        <link href="https://cdn.getcreatorframework.com/v2.0.7/creator.css" importance="auto" rel="stylesheet" type="text/CSS" />
    </head>
    <body class="background-cover">

        <footer>Welcome back</footer>

        <script src="https://cdn.getcreatorframework.com/v2.0.7/creator.js" type="application/JAVASCRIPT"></script>
    </body>
</html>
    </xmp>
    </div>
</section>