<header>
    Allows you to show or hide an element at a specific viewport
</header>
<h3>Size</h3>
<ul>
    <li>sm - 576px</li>
    <li>md - 768px</li>
    <li>lg - 992px</li>
    <li>xl . 1200px</li>
</ul>
<h3>Example</h3>
<div class="pad-xl">
    Resize window to see effect.
</div>
<div class="pad-lg">
    <div class="show-sm mrg-md" style="background-color:#00ff90;">
        <code>show-sm</code>
    </div>
    <div class="hide-md mrg-md" style="background-color:#00ff90;">
        <code>hide-md</code>
    </div>
    <div class="show-lg mrg-md" style="background-color:#00ff90;">
        <code>show-lg</code>
    </div>
</div>
