<header>
    There's many other classes and it's recommended to take a look at the code to get an idea of what's available.
</header>
<h3>Syntax</h3>
<code>r</code> makes an element responsive, like images.
<br />
<xmp><img src="img.jpg" class="r" /></xmp>
