<header>
    Horizontally arrange items based on viewport size. The <code>row</code> contains 12 columns and you define how many columns the element should cover.
</header>
<h3>Syntax</h3>
<div>
    Define the column inside a div marked with <code>row</code>.
</div>
<h4>Example</h4>
<xmp>
    <div class="row">
        <div class="col-md-4">
            <img src="/IMAGE/DOC/tree-hand.jpg" class="r" />
        </div>
        <div class="col-md-8">
            <img src="/IMAGE/DOC/red-heart.jpg" class="r" />
        </div>
        <div class="col-sm-5">
            <img src="/IMAGE/DOC/red-forest.jpg" class="r" />
        </div>
    </div>
</xmp>
<br />
<div class="row">
    <div class="col-md-4">
        <img src="/IMAGE/DOC/tree-hand.jpg" class="r" />
    </div>
    <div class="col-md-8">
        <img src="/IMAGE/DOC/red-heart.jpg" class="r" />
    </div>
    <div class="col-sm-5">
        <img src="/IMAGE/DOC/red-forest.jpg" class="r" />
    </div>
</div>
