<header>
    Set font and header sizes with one class with prefixes <code>h</code> or <code>f</code>.
</header>
<h3>Header sizes</h3>
<ul>
    <li>h1 - 44px</li>
    <li>h2 - 38px</li>
    <li>h3 - 32px</li>
    <li>h4 - 26px</li>
    <li>h5 - 22px</li>
    <li>h6 - 19px</li>
</ul>
<h3>Font sizes</h3>
<ul>
    <li>f1 - 6px</li>
    <li>f2 - 9px</li>
    <li>f3 - 13px</li>
    <li>f4 - 15px</li>
    <li>f5 - 18px</li>
    <li>f6 - 23px</li>
    <li>f7 - 26px</li>
    <li>f8 - 30px</li>
    <li>f9 - 34px</li>
    <li>f10 - 40px</li>
</ul>
<h3>Example</h3>
<div class="mrg-auto" style="max-width:500px;">
    <div class="row">
        <div class="col-xs-6">
            <h1>Header One</h1>
            <h2>Header Two</h2>
            <h3>Header Three</h3>
            <h4>Header Four</h4>
            <h5>Header Five</h5>
            <h6>Header Six</h6>
        </div>
        <div class="col-xs-6">
            <span class="f1">Font One</span>
            <br />
            <span class="f2">Font Two</span>
            <br />
            <span class="f3">Font Three</span>
            <br />
            <span class="f4">Font Four</span>
            <br />
            <span class="f5">Font Five</span>
            <br />
            <span class="f6">Font Six</span>
            <br />
            <span class="f7">Font Seven</span>
            <br />
            <span class="f8">Font Eight</span>
            <br />
            <span class="f9">Font Nine</span>
            <br />
            <span class="f10">Font Ten</span>
        </div>
    </div>
</div>
